<div style="text-align:center">
  <h1>
    Bienvenido to {{ title }}!
  </h1>
  
  <div class="container">
    <h2>Tabla de Paises</h2>        
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Pais</th>
          <th>Idioma</th>
          <th>Moneda</th>
          <th>Bandera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises">
          <td><a href="#" (click)="mostrarInformacionPais(pais, templatePais)">{{pais.name}}</a></td>
          <td>{{pais.languages[0].name}}</td>
          <td>{{pais.currencies[0].name}}</td>
          <td><img src="{{pais.flag}}" width="30px" height="30px"></td>
        </tr>
      </tbody>
    </table>
  </div>

<router-outlet></router-outlet>
