<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  
  <div class="container">
    <h2>Tabla de Paises</h2>        
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Pais</th>
          <th>Idioma</th>
          <th>Moneda</th>
          <th>Bandera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises">
          <td><a href="#" (click)="mostrarInformacionPais(pais, content)">{{pais.name}}</a></td>
          <td>{{pais.languages[0].name}}</td>
          <td>{{pais.currencies[0].name}}</td>
          <td><img src="{{pais.flag}}" width="30px" height="30px"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pais</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <img src="{{imagenPais}}" width="100px" height="40px">
          <div><label>Su capital es {{capital}}</label></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
  

<router-outlet></router-outlet>
